*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-family: system-ui, sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


main {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 400px;
    /* background-color: red; */
}

#heading1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}

#text {
    display: flex;
    text-align: center;
    justify-content: center;

}

#para {
    /* background-color: yellow; */
    width: 400px;
    padding: 10px;
}

#real-para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

#button-portion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#explore-button {
    background-color: #000;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;

}
/* #explore-button:hover{
    background-color: red;
} */

.images-portion {
    height: 170px;
    display: flex;
    padding: 0 50px;
    gap: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  

}

.image-box {
    width: 20rem;
    height: 150px;
    /* background-color: antiquewhite; */
    border-radius: 20px;
}

#img-1 {
    background-image: url(Images/1.jpeg);
    background-size: cover;
    background-position: center;
}

#img-2 {
    background-image: url(Images/2.jpg);
    background-size: cover;
    background-position: center;
}

#img-3 {
    background-image: url(Images/3.jpg);
    background-size: cover;
    background-position: center;
}

#img-4 {
    background-image: url(Images/4.jpg);
    background-size: cover;
    background-position: center;
}

#img-5 {
    background-image: url(Images/5.jpg);
    background-size: cover;
    background-position: center;
}

#img-6 {
    background-image: url(Images/6.jpg);
    background-size: cover;
    background-position: center;
}

#img-7 {
    background-image: url(Images/7.jpg);
    background-size: cover;
    background-position: center;
}

#img-8 {
    background-image: url(Images/8.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width:500px){
    .images-portion{
        flex-direction: column;
        padding: 0 0;
        gap: 20px;
        height: auto;

    }
    .image-box{
        width: 90%;
        height: 100px !important;
    } 

}